.image {
  position: absolute;
  left: 2%;
  top: 70%;
  height: 100px;
  width: auto;
  z-index: -1;
}

.imageRight {
  position: absolute;
  right: 2%;
  top: 70%;
  height: 100px;
  width: auto;
  z-index: -1;
}
