@import url(https://fonts.googleapis.com/css?family=Biryani:400,700);
@import url(https://fonts.googleapis.com/css?family=Chivo);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

html {font-size: 1em;}

body {
  background-color: white;
  font-family: Biryani, serif;
  font-weight: 400;
  line-height: 1.45;
  color: #555;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: Chivo, serif;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}
