.profile {
  display: flex;
  img {
    max-width: 100px;
    height: 100px;
  }
}

.links {
  margin-top: 1em;
  list-style: none;
  h4 {
    display: inline;
  }
}

ul {
	list-style: inside circle;
}

ol {
	list-style: inside decimal;
}
